@charset "utf-8";
/* CSS Document */

body,h1,h2,h3,h4,h5,p,dl,dt,dd,ul,li,form {
	padding:0;
	margin:0;
}

body {
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
}

a {
	text-decoration:none;
}

img {
	border:none;
}

ul,li {
	list-style:none;
}

.container {
	margin:0 auto;
	width:980px;
	overflow: hidden;
}

.grid-10 {
	float:left;
	width:1000px;
}

.top {
	background:url(../images/bg-top.jpg) repeat-x top left;
	width:100%;
	float:left;
	height: 114px;

}

h1.logo {
	float:left;
}

h1.logo a {
	background:url(../images/logo.png) no-repeat top left;
	float:left;
	display:block;
	overflow:hidden;
	width:284px;
	height: 60px;
	text-indent:-9999px;
	margin:20px 0px 0px 20px;
}

.socail-network {
	float:right;
	width:350px;
	margin:10px 0px 0px 0px;
}

.socail-network ul li {
	float:left;	
	margin:0px 0px 0px 10px;
}

.socail-network ul li a {
	color:#333;
	font-weight:bold;
	font-size:12px;
	float:left;
	padding:0px 0px 0px 40px;
	height: 39px;
	display:block;
	overflow:hidden;
	line-height:39px;
}

.socail-network ul li a:hover {
	color:#1dc0d6;	
}

.socail-network ul li a.fb {
	background:url(../images/icon-fb-top.png) no-repeat top left;
}

.socail-network ul li a.tw {
	background:url(../images/icon-tw-top.png) no-repeat top left;	
}

.socail-network ul li a.ytb {
	background:url(../images/icon-ytb-top.png) no-repeat top left;
}

.hold-search {
	float:right;	
	position:relative;
}

.search {
	float:left;
	position:absolute;
	top:60px;
	left:0;
	width:322px;
	background:url(../images/frame-search.png) no-repeat top left;
	height:42px;
}

.filed {
	float:left;
	background:url(../images/bg-text-field.jpg) no-repeat top left;
	width:320px;
	height: 28px;
	margin:7px 0px 0px 7px;
}

input.text {
	background:none;
	border:none;
	float:left;
	width:233px;
	font-size:12px;
	padding:5px;
	color:#868585;
	*padding:5px 0px 5px 3px;
}

input.submit {
	background:url(../images/btn-search.jpg) no-repeat top left;
	width:67px;
	height: 28px;
	float:left;
	border:none;
	color:#fff;
	font-size:11px;
	cursor:pointer;
}

.hold-menu {
	float:left;
	width:100%;
	background:url(../images/bg-menu.jpg) repeat-x top left;
	height: 48px;
}

.menu ul li {
	float:left;	
}

.menu ul li a{
	color:#fff;
	font-size:13px;
	text-transform:uppercase;
	font-weight:bold;
	padding:0px 30px 0px 35px;
	line-height:44px;
	float:left;
	display:block;
	overflow:hidden;
}

.menu ul li a:hover,.menu ul li a.active-menu {
	background:url(../images/bg-menu-hover.jpg) repeat-x top left;
}

.hold-slide {
	float:left;
	width:1000px;
	height: 320px;
	border-bottom:7px solid #999;
	padding-bottom:1px;
}

.slide {
	float:left;
	width:1000px;
}

.slide img {
	position:absolute;
	left:0;
	top:0;
	display:none;
}

.nivo-directionNav,.nivo-prevNav,.nivo-nextNav,.nivo-controlNav {
	display:none;	
}



.bg-white {
	background:#fff;	
}

.content {
	float:left;
	width:100%;
}

.left {
	float:left;
	width:500px;
	margin:0px 10px 0px 0px;
}

.block-l {
	float:left;
	width:720px;
	margin-bottom:10px;
	*margin-bottom:0px;
}

.mod-l {
	float:left;
	width:720px;
	background:url(../images/bg-top-block.jpg) no-repeat top left;
	padding-top:10px;
}

.mod-l-in {
	float:left;
	width:720px;
	background:#f0f0f0;
}

.mod-l-in h3 {
	float:left;
	width:700px;
	margin:0px 10px 0px 10px;
	border-bottom:1px solid #c7c7c7;
	line-height:24px;
}

.info-article,.details,.details-in,.details-more,.contact {
	float:left;
	width:700px;
	margin:0px 10px 0px 10px;
}

.info-article {
	border-bottom:1px solid #c7c7c7;
	line-height:25px;	
}

.info-writer ul li {
	float:left;
	background:url(../images/slipt.jpg) no-repeat center right;
	padding:0px 5px 0px 5px;
	font-size:11px;
}

.details div {
	padding:7px 0px 0px 0px;
	line-height:22px;
	font-size:12px;
	float:left;
	width:425px;
}

a.hold-img {
	float:left;
	width:245px;
	height: 175px;
	border: 2px solid #babcbb;
	display:block;
	overflow:hidden;
	margin:10px;
}

a.hold-img:hover {
	border: 2px solid #333;	
}

a.read-more {
	background:url(../images/btn-read-more.jpg) no-repeat top left;
	width:87px;
	height: 27px;
	text-align:center;
	color:#fff;
	font-size:12px;
	line-height:27px;
	display:block;
	float:right;
}
a.read-more:hover {
	background:url(../images/btn-read-more-hover.jpg) no-repeat top left;	
}

.tool-pag {
	float:right;
	width:80px;
}

.tool-pag ul li {
	float:left;	
}

.tool-pag ul li a {
	display:block;
	float:left;
	margin:3px 0px 0px 5px;
	width:16px;
	height:16px;
	position:relative;
}

.tool-pag ul li a span {
	position:absolute;
	background:#333;
	font-size:11px;
	color:#fff;
	left:-5px;
	top:-15px;
	z-index:100;
	float:left;
	width:30px;
	text-align:center;
	line-height:15px;
}	


.tool-pag ul li a.email {
	background:url(../images/icon-mail.jpg) no-repeat center left;
}

.tool-pag ul li a.pdf {
	background:url(../images/icon-pdf.jpg) no-repeat center left;
}

.tool-pag ul li a.print {
	background:url(../images/icon-print.jpg) no-repeat center left;
}

.mod-l-in h3 a {
	font-size:15px;
	text-transform:uppercase;
	color:#006699;
}

.mod-l-in h3 a:hover {
	text-decoration:underline;
}

.mod-l-b {
	float:left;
	background:url(../images/bg-bottom-block.jpg) no-repeat top left;
	padding-bottom:10px;
	width:720px;
}

.right {
	float:left;
	width:260px;
	margin:10px 10px 0px 0px;
}

.block-r {
	float:left;
	width:260px;
	*margin-bottom:10px;
}

.block-r  h3 {
	background:url(../images/bg-title-right.jpg) no-repeat top left;
	height: 53px;
	float:left;
	color:#fff;
	font-size:15px;
	line-height:40px;
	text-transform:uppercase;
	width:210px;
	padding:0px 0px 0px 50px;
}

.block-r ul li {
	float:left;
	margin-bottom:10px;
}

.block-r ul li div {
	line-height:18px;	
}

a.hold-img-bl {
	float:left;
	border: 2px solid #098fce;
	width:90px;
	height:80px;
	display:block;
	overflow:hidden;
	margin:0px 10px 0px 10px;
}

a.hold-img-bl:hover {
	border: 2px solid #C7C7C7;	
}

a.read-more-bl {
	color:#ff0000;
	font-size:12px;
	font-weight:bold;
}

a.read-more-bl:hover {
	text-decoration:underline;
	
}

.small-bl {
	float:left;
	width:420px;
	margin:0px 20px 0px 0px;
}

.small-bl h4 {
	float:left;
	width:410px;
	border-bottom: 1px solid #C7C7C7;
	margin:0px 0px 0px 10px;
}

.small-bl h4 a {
	 color: #006699;
    font-size: 15px;
    text-transform: uppercase;	

}

.hold-tool {
	float:left;
	width:410px;
	margin:0px 0px 0px 10px;
	border-bottom: 1px solid #C7C7C7;
	line-height:30px;
}

.details-small {
	float:left;
	width:410px;
	margin:0px 0px 0px 10px;	
}

.details-small div {
	float:left;
	width:210px;
	font-size:12px;
	line-height:20px;
	padding-top:5px;
}

a.hold-img-small {
	float:left;
	display:block;
	width:170px;
	height: 120px;
	border: 2px solid #BABCBB;
	margin:10px;
}

.plugin-fb,.title-plugin,.number-like,.list-like {
	float:left;
	width:260px;
}

.title-plugin {
	border-bottom:1px solid #C7C7C7;
	padding-bottom:10px;
}

a.pl-logo {
	background:url(../images/logo-fb.jpg) no-repeat top left;
	float:left;
	width:40px;
	height: 40px;
	display:block;
	overflow:hidden;
	text-indent:-9999px;
}

.vtes-fb {
	float:left;
	width:210px;
	margin:0px 0px 0px 10px;
}

a.name {
	font-size:12px;
	font-weight:bold;
	color:#006699;
}

a.btn-like {
	background:url(../images/icon-like.jpg) no-repeat top left;
	width:54px;
	height: 24px;
	display:block;
	text-indent:-9999px;
}

.number-like a {
	font-size:11px;
	color:#006699;
	line-height:20px;
}

.number-like a span {
	font-weight:bold;
}

.list-like ul li {
	float:left;	
	margin:5px;
}

.list-like ul li a{
	float:left;
	width:50px;
	height: 50px;
	display:block;
}

.small-bl h4 a:hover,.number-like a:hover,.name:hover {
	text-decoration:underline;	
}

.sub-foot {
	float:left;
	width:1000px;
	background:#6c276a;
	color:#fff;
	padding:30px 0px 20px 0px;
}

.col {
	width:220px;
	float:left;
	margin:0px 0px 0px 30px;
}

.col h3 {
	float:left;
	width:220px;
	font-size:15px;
	text-transform:uppercase;
}

.col ul li a {
	font-size:12px;
	color:#fff;
	line-height:24px;
}

.col ul li a:hover {
	text-decoration:underline;	
}

.link-network {
	float:left;
	width:1000px;
	background:#5a1258;
	height: 42px;
}

.link-network ul {
	float:left;
	margin:0px 0px 0px 250px;
	padding:10px 0px 0px 0px;
}

.link-network ul li {
	float:left;	
	margin:0px 10px 0px 0px;
}

.link-network ul li a {
	float:left;
	padding:0px 0px 0px 30px;
	color:#fff;
	font-size:12px;
	line-height:24px;
}

.link-network ul li a:hover {
	text-decoration:underline;	
}

a.fb-bottom {
	background:url(../images/icon-fb-bottom.jpg) no-repeat top left;	
}

a.tw-bottom {
	background:url(../images/icon-tw-bottom.jpg) no-repeat top left;	
}

a.ytb-bottom {
	background:url(../images/icon-ytb-bottom.jpg) no-repeat top left;	
}

.foot {
	float:left;
	width:1000px;
	background:#4e0a4c;
	height:42px;
	line-height:42px;
	font-size:12px;
	color:#fff;
	margin:1px 0px 0px 0px;
}

.copy {
	float:left;	
	margin:0px 0px 0px 5px;
}

.web {
	float:right;
	margin:0px 10px 0px 0px;
}

.web a {
	color:#fff;	
}

.web a:hover {
	font-weight:bold;	
}

.details-in {
	line-height:20px;
	border-bottom:1px solid #d7d7d7;
	padding-bottom:10px;
}

.details-in img {
	float:left;
	margin:4px;
	border:1px solid #d7d7d7;
	padding:3px;
}

.details-more h4{
	float:left;	
	line-height:30px;
	font-size:15px;
	width:700px;
	margin:0px 0px 0px 10px;
}

.details-more ul li {
	float:left;	
	line-height:25px;
}

.details-more ul li a {
	font-size:11px;
	color:
}

.details-more ul li a {
	float:left;	
	color:#006699;
	font-size:12px;
	background:url(../images/dot.gif) no-repeat center left;
	padding:0px 0px 0px 10px;
}

.details-more ul li a:hover {
	color:#333;	
}

.contact {
	display:table;	
}

.row {
	float:left;
	display:table-row;
	width:700px;
	margin:10px 0px 10px 0px;
	position:relative;
}	

.mrgt-20 {
	margin-top:20px;
}

.cell-1 {
	float:left;
	display:table-column;
	width:100px;
}

.cell-2 {
	float:left;
	display:table-column;
	width:300px;
}

.cell-2 textarea {
	width:300px;	
}

.cell-2 input {
	float:left;	
}

input.txt-cell {
	width:300px;	
}

input.submit-contact,input.reset-contact {
	float:left;
	background:url(../images/btn-read-more.jpg) no-repeat top left;
	width:87px;
	height: 27px;
	border:none;
	cursor:pointer;
	color:#fff;
	padding-bottom:5px;
	margin:0px 0px 0px 10px;
}

input.submit-contact:hover,input.reset-contact:hover {
	background:url(../images/btn-read-more-hover.jpg) no-repeat top left;	
}

.img-code {
	position:absolute;
	left:100px;
	top:-20px;
}

a.refresh {
	background:url(../images/btn-refresh.jpg) no-repeat top left;
	height: 21px;
	width:45px;
	display:block;
	float:left;
	line-height:21px;
	color:#fff;
	margin:0px 0px 0px 5px;
	font-size:11px;
	text-align:center;
}

a.refresh:hover {
	background:url(../images/btn-refresh-hover.jpg) no-repeat top left;	
}



