body{font:13px/1.5 'Helvetica Neue',Arial,'Liberation Sans',FreeSans,sans-serif}a:focus{outline:1px dotted}hr{border:0 #ccc solid;border-top-width:1px;clear:both;height:0}h1{font-size:25px}h2{font-size:23px}h3{font-size:21px}h4{font-size:19px}h5{font-size:17px}h6{font-size:15px}ol{list-style:decimal}ul{list-style:disc}li{margin-left:30px}p,dl,hr,h1,h2,h3,h4,h5,h6,ol,ul,pre,table,address,fieldset{margin-bottom:20px}

/*****************STYLE************************/
body {
	background:#0b45bb;
	padding:0;
	margin: 0;
}

.link_navi {
	float: right;
	margin-top:6px;
}

.link_navi  ul {
	padding: 0;
	margin: 0;
	list-style: none;
}
.link_navi  ul li{
	float: left;
	padding: 0;
	margin: 0;
}

.link_navi  ul li a{
	background:url(../images/slipt.gif) no-repeat center right;
	padding: 0px 10px 0px 10px;
	text-decoration: none;
	color:#fff;
	font-family:Verdana, Geneva, sans-serif;
	font-size:11px;
}

.link_navi  ul li a:hover{
	text-decoration:underline;
}

#none_bg {
	background: none;
}

.lang {
	float: right;
	margin-top:10px;
}

a.vi {
	background:url(../images/flag_vn.gif) no-repeat top left;
	width:16px;
	height: 11px;
	display: block;
	text-indent:-9999px;
	float: left;
	margin-right:4px;
}

a.eng {
	background:url(../images/flag_eng.gif) no-repeat top left;
	width:16px;
	height: 11px;
	display: block;
	text-indent:-9999px;
	float: left;
		margin-right:4px;
}

.logo h1{
	padding: 0;
	margin: 0;
	float: left;
	width:200px;
	height: 101px;
}

.logo h1 a{
	background:url(../images/logo.jpg) no-repeat top left;
	width:200px;
	height: 101px;
	display:block;
	float: left;
	text-indent:-9999px;
}

.slogan {
	/*background:url(../images/slogan.jpg) no-repeat top left;*/
	width:700px;
	height: 60px;
	/*margin-top:15px;*/
	float:left;
}

.search {
	float: right;
	width:175px;
	height: 24px;
	background:url(../images/bg_form_search_III.jpg) no-repeat top left;
	margin-top:10px;
}

.search form {
	padding: 0;
	margin: 0;
}
.search input.txt{
	border:none;	
	width:150px;
	font-family:Verdana, Geneva, sans-serif;
	font-size:10px;
	font-style:italic;
	padding:0;
	margin: 3px 0px 0px 2px;
	line-height:18px;
	height: 17px;
	float: left;
	background:none;
}
.search input.btn_search{
	background:url(../images/icon_search.gif) no-repeat top left;
	height: 17px;
	width:16px;
	border: none;
	text-indent:-9999px;
	cursor:pointer;
	float: left;
	margin: 4px 0px 0px 0px;
}

.menu {
	background:url(../images/bg_menu.jpg) repeat-x top left;
	height: 49px;
	width:100%;
	float: left;
	margin-top:5px;
}

.home {
	float: left;
	width:19px;
	background:url(../images/slipt_menu.png) no-repeat top right;
	height: 49px;
	padding-right:13px;
	_padding-right:8px;
	_background:none;
	/*_background-repeat:no-repeat;
	_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true,src=images/slipt_menu.png, sizingMethod='scale');*/
}

.home a {
	background:url(../images/icon_home.png) no-repeat top left;
	width:19px;
	height: 17px;
	display:block;
	text-indent:-9999px;
	float: left;
	margin: 15px 0px 0px 5px;
	_background:none;
	_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true,src=images/icon_home.png, sizingMethod='scale');
	_cursor:pointer;
}

.menu_in {
	float: left;
	width:900px;
}

.menu_in ul {
	padding: 0;
	margin: 0;
	list-style:none;
}
.menu_in ul li{
	float: left;
	padding:14px 15px 0px 20px;
	margin: 0;
}

.menu_in ul li a{
	text-decoration: none;	
	text-transform:uppercase;
	color:#fff;
	font-size:14px;
}
/***************/
.ddsubmenustyle, .ddsubmenustyle ul{
	padding:17px 0px 0px 0px;
	margin: 0;
	list-style:none;
	position: absolute;
	left:0;
	top:0;
	_padding:18px 0px 0px 0px;
}
.ddsubmenustyle li {
	padding: 0;
	margin: 0;
	background:#0A45BB;
	border-bottom:1px solid #2458c2;
	
}
.ddsubmenustyle li a{
	height: 30px;
	text-decoration:none;
	color:#fff;
	display:inline-block;
	padding: 0px 10px 0px 10px;
	font-size:11px;
	font-family:Verdana, Geneva, sans-serif;
	background:#0A45BB;
	width:180px;
	line-height:30px;

}

.ddsubmenustyle li a:hover {
	background: #0054ff;
}

.ddsubmenustyle li ul {
	position:absolute;
	padding:0;
	margin: 0;
	left:0;
	top: 0;
}

.ddsubmenustyle li ul li {
	
}

.ddiframeshim{
 position: absolute;
 z-index: 500;
 background: transparent;
 border-width: 0;
 width: 0;
 height: 0;
 display: block;
}
	

/******************/
.ddsubmenustyle2, .ddsubmenustyle2 ul{
	padding:17px 0px 0px 0px;
	margin: 0;
	list-style:none;
	position: absolute;
	left:0;
	top:0;
	_padding:18px 0px 0px 0px;
}
.ddsubmenustyle2 li {
	padding: 0;
	margin: 0;
	background:#0A45BB;
	height: 30px;
	border-bottom:1px solid #2458c2;
	width:250px;
	_width:240px;
}
.ddsubmenustyle2 li a{
	display:block;
	height: 30px;
	text-decoration:none;
	color:#fff;
	line-height:30px;
	padding: 0px 10px 0px 10px;
	font-size:11px;
	font-family:Verdana, Geneva, sans-serif;
	_width:240px;
}

.ddsubmenustyle2 li a:hover {
	background: #0054ff;
}

.ddsubmenustyle2 li ul {
	position:absolute;
	padding:0;
	margin: 0;
	left:0;
	top: 0;
}

/********************/
/*******************/
.hold_slide {
	background:url(../images/bg_slide_II.jpg) center top ;
	height: 350px;
	width:100%;
	margin: 0 auto;
}

.slide_out {
	position: relative;
	z-index:1;
	width:940px;
	height:280px;
}

#slider {
	position:absolute;
	top:30px;
	left: 0;	
	z-index:1;
}


.slides_container {
	width:940px;
	overflow:hidden;
	position:relative;
	display:none;
}

.slides_container a {
	width:940px;
	height:280px;
	display:block;
	float:left;
}

.slides_container a img {
	border: none;
	z-index:50;
}

.pagination {
	position:absolute;
	background:url(../images/bg_control.jpg) no-repeat top center;
	bottom:-35px;
	left: 389px;
	width:131px;
	height: 26px;
	z-index:50;
	float:left;
	_padding-left:45px;
	_left: 340px;
}

.pagination ul {
	padding:0px;
	margin:0;
	list-style:none;
}

.pagination li {
	float:left;
	padding:0;
	margin:0;
	list-style:none;
}

.pagination li a {
	display:block;
	float:left;
	width:15px;
	height: 15px;
	background:url(../images/btn_control.png) no-repeat top left;
	text-indent:-9999px;
	overflow:hidden;
	padding:0;
	margin:6px 3px 0px 5px;
	_margin:5px 3px 0px 1px;
	_background:none;
	_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=images/btn_control.png, sizingMethod='scale');
}

.pagination li.current a {
	background:url(../images/btn_control_active.png) no-repeat top left;
	_background:none;
	_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=images/btn_control_active.png, sizingMethod='scale');
}
/*

#control {
	position:absolute;
	background:url(../images/bg_control.jpg) no-repeat top left;
	bottom:-45px;
	left: 389px;
	width:156px;
	height: 26px;
	z-index:40;
	float:left;
	padding-left:25px;
	_padding-left:10px;
}

#control a {
	padding: 0px 5px 0px 5px;
	background:url(../images/btn_control.png) no-repeat top left;
	width:13px;
	height: 15px;
	display:block;
	text-indent:-9999px;
	float:left;
	margin: 7px 0px 0px 0px;
	_margin: 6px 0px 0px 5px;
	_width:10px;
	_height: 12px;
	_background:none;
	_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=images/btn_control.png, sizingMethod='scale');
	overflow:hidden;
}

#control a.activeSlide {
	background:url(../images/btn_control_active.png) no-repeat top left;
	_background:none;
	_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true,src=images/btn_control_active.png, sizingMethod='scale');
}
*/
.program {
	background:url(../images/bg_program_II.jpg) no-repeat top center;
	height: 60px;
	width:100%;
	margin: 0 auto;
}

.scroll_container {
	position:relative;
	width:940px;
	height:91px;
	overflow:hidden;
}

.scroller {
	float: left;
	width:940px;
	padding-top:5px;
	height: 60px;
}
ul.marquee {
	position: relative;
	overflow:hidden;
	display:block;
	list-style:none;
	padding:0;
	margin:0;
	width:940px;
	height: 91px;
}

/*ul.marquee li{
	position:absolute;
	top:0;
	left:0;
	display:block;
	margin:0;
	padding: 0px 10px 0px 10px;
}
ul.marquee li a img {
	border: none;
}*/
.scroller ul {
	padding:0;
	margin: 0;
	list-style:none;
}
.scroller ul li{
	float:left;	
}

.scroller ul li a img{
	border:none;
}

.top_content {
	background: url(../images/top_content_2.jpg) no-repeat bottom center;
	height: 10px;
	width:960px;
	margin: 0 auto;
	margin-top:8px;
	_margin-top:5px;
}
#content {
	background:url(../images/bg_content.jpg) repeat-y top left;
	width:960px;
	margin: 0 auto;
}

.grid_12_fix {
	float:left;
	width:940px;
	padding:0px 10px 0px 10px;
	background:#fff;
}
.left {
	float: left;
	width:700px;
	margin-right:20px;
}

.row {
	float:left;
	width:700px;
	border-bottom: 1px solid #005df0;
	*padding-bottom:10px;
	_padding-bottom:0px;
}

.row_slide {
	float: left;
	width:700px;
	position:relative;
}

.row_slide h3 {
	padding:0;
	margin: 2px 0px 10px 0px;
	width:700px;
	font-style:normal;
	font-size:15px;
}

a.next_partner {
	position:absolute;
	right:0;
	top:70px;
	background:url(../images/btn_next.gif) no-repeat top left;
	width:32px;
	height: 32px;
	display:block;
	cursor:pointer;
}

a.prev_partner {
	position:absolute;
	left:0;
	top:70px;
	background:url(../images/btn_prev.gif) no-repeat top left;
	width:32px;
	height: 32px;
	display:block;
	cursor:pointer;
}
.partner {
	float: left;
	width:650px;
	margin-left: 50px;
	height: 120px;
	_margin-left: 20px;
}

.partner  ul{
	padding: 0;
	margin: 0px;
	list-style: none;
}

.partner  ul li{
	float: left;
	padding: 0;
	margin: 0px 10px 0px 10px;
	height: 120px;
}
.partner  ul li a {
	display: block;
	height: 120px;
	width:185px;
	background:url(../images/shadow_partner.jpg) no-repeat bottom center;
}
.partner  ul li a img {
	border: none;
}
.right {
	float: left;
	width:220px;
}

.col_r h3 {
	padding: 0;
	margin: 0;
	float: left;
}

.col_r h3 a{
	width:220px;
	height: 30px;
	background:url(../images/bg_title_left.jpg) no-repeat top left;
	display: block;
	text-decoration:none;
	font-size:15px;
	text-transform:uppercase;
	color:#fff;
	line-height:30px;
	text-align:center;
}

.news_slide,.sign_up,.find_match {
	float: left;
	width:218px;
	border: 1px solid #dbdbdb;
	padding-bottom:10px;
	margin-bottom:15px;
}

.news_slide ul{
	padding: 0;
	margin: 0;
	list-style:none;
}

.news_slide ul li{
	float: left;
	padding: 0;
	margin: 0;
	width:218px;
}

.news_slide ul li a{
	width:200px;
	display:block;
	text-decoration:none;
	color:#333;
	font-size:11px;
	font-family:Verdana, Geneva, sans-serif;
	background:url(../images/icon_li_news.jpg) no-repeat 0px 5px;
	margin: 10px 0px 0px 5px;
	padding-left:13px;
}
.news_slide ul li a:hover {
	text-decoration:underline;	
}


.sign_up p {
	float: left;
	width:208px;
	font-family:Verdana, Geneva, sans-serif;
	font-size:11px;
	color:#333;
	padding: 0;
	margin: 15px 0px 0px 10px;
	_margin: 15px 0px 0px 5px;
}

.sign_up p a {
	background:url(../images/icon_yahoo.gif) no-repeat top left;
	width:64px;
	height: 16px;
	display: block;
	text-indent:-9999px;
	margin-right:20px;
	float: left;
	_margin-right:15px;
}

a.btn_signup {
	float: left;
	width:147px;
	background:url(../images/btn.jpg) no-repeat top left;
	height:32px;
	display:block;
	text-decoration: none;
	text-align:center;
	line-height:30px;
	text-transform:uppercase;
	color:#fff;
	font-size:16px;
	margin: 15px 0px 0px 35px;
	_margin: 15px 0px 0px 20px;
}

a.btn_signup:hover {
	background:url(../images/btn_hover.jpg) no-repeat top left;
}

.find_match form {
	padding: 0;
	margin: 0;
}
.find_match select {
	width:190px;
	background:#d8d8d8;
	height: 25px;
	font-family:Verdana, Geneva, sans-serif;
	font-size:11px;
	float:left;
	margin:13px 0px 13px 15px;
}
.find_match input.text_feild {
	float:left;
	width:185px;
	margin: 0px 0px 0px 15px;
	font-family:Verdana, Geneva, sans-serif;
	font-size:11px;
	clear:both;
}

.find_match input.catch_match {
	background:url(../images/btn_view_result.jpg) no-repeat top left;
	width:147px;
	height: 32px;
	border: none;
	float: left;
	cursor:pointer;
	text-indent:-9999px;
	margin: 18px 0px 0px 35px;
	padding-bottom:5px;
}

.counter {
	float: left;
	background:url(../images/counter.jpg) no-repeat top center;
	height:38px;
	width:215px;
	text-indent:-9999px;
	margin-left:5px;
	_margin-left:2px;
}

.col {
	float: left;
	width:220px;
	margin-right:20px;
	font-family:Verdana, Geneva, sans-serif;
}
.col h3 {
	padding:0;
	margin: 0;
	float: left;
	font-style:normal;
}

.col h3 a{
	color:#000;
	font-size:15px;
	float: left;
	display:block;
	text-decoration:none;
	padding-bottom:10px;
}

.col h3 a:hover{
	color:#003399;
}

p.image {
	float:left;
	padding: 0;
	margin: 0;
	width:220px;
}

p.image a {
	float: left;
	width:216px;
	height:126px;
	display:block;
	border:2px solid #0060ff;
}

p.image a img {
	border: none;
}

p.image a:hover {
	border:2px solid #333;
}

p.details {
	padding: 0;
	margin: 0px;
	width:220px;
	float: left;
	clear:both;
}

p.details a{
	text-decoration:none;
	color:#333;
	font-size:11px;
	width:220px;
	float:left;
	margin-bottom:5px;
	line-height:18px;
}

p.details a:hover {
	color:#003399;
}

.col ul {
	padding: 0;
	margin: 0px;
	list-style:none;
}

.col ul li{
	float: left;
	padding:0;
	margin: 0;
}

.col ul li a {
	width:200px;
	text-decoration:none;
	font-size:11px;
	color:#333;
	background:url(../images/icon_li_content.gif) no-repeat center left;
	padding-left: 10px;
	margin:0px 0px 0px 10px;
	_background:url(../images/icon_li_content.gif) no-repeat 10px 4px;
}
.col ul li a:hover {
	text-decoration:underline;
}

p.readmore {
	float: left;
	padding: 0;
	margin: 10px 0px 10px 0px;
	width:220px;
}

p.readmore a{
	background:url(../images/btn_details.jpg) no-repeat top left;
	width:74px;
	height: 18px;
	display:block;
	color:#fff;
	font-size:11px;
	text-decoration:none;
	padding-left:5px;
}

p.readmore a:hover{
	font-style:italic;
}

.col_2 {
	width:460px;
	margin-right:20px;
	float: left;
}

.col_2 h3 {
	padding:0;
	margin: 0px 0px 5px 0px;
	float: left;
}
.col_2 h3 a {
	text-decoration:none;
	font-size:15px;
	color:#000;
	width:460px;
	clear:both;
}

.col_2 h3 a:hover {
	color:#003399;
}

a.img_action {
	float:left;
	width:216px;
	height: 111px;
	border: 2px solid #0060ff;
	margin-top:5px;
}

a.img_action:hover {
	border: 2px solid #333;
}

a.img_action img {
	border: none;
}

a.folder {
	float: left;
	background:url(../images/icon_tai_lieu.gif) no-repeat top left;
	display: block;
	height: 27px;
	width:180px;
	font-size:11px;
	text-decoration:none;
	line-height:25px;
	padding-left: 40px;
	font-weight:bold;
	color:#0b45bb;
}


a.folder:hover {
	text-decoration:underline;
}

a.calendar {
	float: left;
	background:url(../images/icon_date.gif) no-repeat top left;
	display: block;
	height: 28px;
	width:180px;
	font-size:11px;
	text-decoration:none;
	line-height:25px;
	padding-left: 40px;
	font-weight:bold;
	color:#0b45bb;
	margin:15px 0px 12px 0px;
}

a.calendar:hover {
	text-decoration:underline;
}


.bottom_content {
	background:url(../images/bg_bottom_content.jpg) no-repeat top center;
	height: 30px;
	margin: 0 auto;
	width:960px;
}

.slogan_bottom {
	background:url(../images/slogan_bottom.jpg) no-repeat bottom center;
	float:left;
	text-indent:-9999px;
	width:940px;
	height: 42px;
	padding-top:5px;
	
}

.copy,.link_hgtech {
	color:#fff;
	font-family:Verdana, Geneva, sans-serif;
	font-size:11px;
	
}


.copy p {
	padding: 0;
	margin: 0;
}

.link_hgtech  {
	text-align:right;
	width:460px;
}
.link_hgtech a {
	font-weight:bold;
	color:#fff;
	text-decoration:none;
}

.link_hgtech a:hover {
	text-decoration:underline;
}

.address {
	text-align:center;
	font-family:Verdana, Geneva, sans-serif;
	font-size:11px;
	color:#fff;
}

.address span {
	font-weight:bold;
	text-transform:uppercase;
}

.text {
	display:none;
}

.caption-bottom {
	color: #ffffff;	
	padding: 10px 0px 10px 10px;	
	font-size: 13px;	
	cursor: pointer;
	background: #000000;
	z-index:50;
}

	
	